/*导航*/
body{
    font-size: 14px;
}
/*百度logo*/
.logo{
    width: 270px;
    height: 129px;
    display: block;
    margin:30px auto;
}
/*搜索框*/
.search{
    width: 640px;
    height: 40px;
    margin: 0 auto;
}
.search_left{
    width: 536px;
    height: 40px;
    float: left;
    position: relative;
}
.search_left input{
    width: 536px;
    height: 38px;
    border: #b0b0b0 1px solid;
}
.search_left img{
    position: absolute;
    top:4px;
    right:11px;
}
.search_right{
    width: 104px;
    height: 40px;
    background-color:#407dfd;
    float: left;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}
/*热点上面*/
.hot_spot{
    width: 893px;
    margin: 98px auto 0;
    border: #e6e6e6 1px solid;
}
.hot_spot_top{
    height: 40px;
    border-bottom: #e6e6e6 1px solid;
    font-size: 14px;
}
.hot_spot_bottom{
    height: 515px;
}
.hot_spot_top_nav1{
    width: 126px;
    height: 42px;
    float: left;
    position: relative;
    line-height: 42px;
    text-align: center;
}
.hot_spot_top_nav1 span{
    float: right;
    margin-right: 26px;
}
.hot_spot_top_nav1 i{
    color: #cdcdcd;
    font-size: 20px;
    float: left;
    margin-left: 22px;
}
.hot_spot_top_nav1:hover{
    background-color: #919499;
    color: white;
}
.hot_spot_top_nav2{
    width: 80px;
    height: 42px;
    float: left;
    position: relative;
    top: -1px;
    text-align: center;
    line-height: 42px;
}
.hot_spot_top_nav2:hover{
    background-color: #919499;
    color: white;
}
.hot_spot_top_nav3{
    width: 80px;
    height: 42px;
    float: left;
    position: relative;
    top: -1px;
    text-align: center;
    line-height: 42px;
}
.hot_spot_top_nav3:hover{
    background-color: #919499;
    color: white;
}
.hot_spot_top_nav4{
    float: right;
    position: relative;
    top: -1px;
    width: 58px;
    height: 42px;
    text-align: center;
    line-height: 42px;
}
.hot_spot_top_nav4 i{
    color: #cdcdcd;
    font-size: 18px;
}
.hot_spot_top_nav4 i:hover{
    color: #407dfd;
}

/*热点下面*/

/*热点左边*/
.hot_spot_left{
    width: 539px;
    height: 315px;
    padding: 25px 25px 0;
    color: #999999;
    float: left;
}
/*热点推荐*/
.recommend{
    width: 539px;
    height: 15px;
    text-align: center;

    font-size: 14px;
}
.recommend .hr_left{
    float: left;
}
.recommend .hr_right{
    float: right;
}
/*横线设置*/
.recommend .hr_right,.recommend .hr_left{
    width: 30%;
    height: 1px;
    position: relative;
    top: 2px;
    border: none;
    border-top: #dedede 1px solid;
}
.hot_spot_left ul{
    width: 539px;
    height: 289px;
}
.hot_spot_left ul .re{
    width: 539px;
    height: 199px;
    border-bottom: #eeeeee 1px solid;
    padding-top: 23px;
}
.hot_spot_left ul .re p{
    font:17px \5FAE;
    color: black;
    font-weight: bold;
    padding-bottom: 14px;
}
.hot_spot_left ul .recommend_one .tup{
    height: 119px;
}
.hot_spot_left ul .recommend_two{
    height: 69px;
}
.hot_spot_left ul .recommend_two p{
    padding-bottom: 5px;
}
.hot_spot_left ul .recommend_one .tup .tu_pi li{
    width: 179px;
    height: 119px;
    float: left;
}
.hot_spot_left ul .recommend_one .tup .tu_pi li img{
    width: 179px;
    height: 119px;
}
.hot_spot_left ul .recommend_one .tup .tu_pi .two{
    width: 179px;
    height: 119px;
    padding: 0 1px 0;
}
.hot_spot_left ul .re .time{
    height: 44px;
    line-height: 44px;
}
.hot_spot_left ul .recommend_three{
    height: 119px;
    padding: 20px 0 20px;
    border-bottom: 0;
}
.hot_spot_left ul .recommend_three img{
    height: 119px;
    width: 179px;
    float: left;
}
.hot_spot_left ul .recommend_three p{
    display: inline-block;
    width: 335px;
    float: right;
    padding: 27px 3px 3px 22px;
}
.hot_spot_left ul .recommend_three .time{
    display: inline-block;
    width: 338px;
    height: 45px;
    line-height: 45px;
    padding-left: 22px;
}
.hot_spot_left ul .recommend_three .time .pot{
    display: inline-block;
    color: #e53634;
    width: 30px;
    height: 14px;
    border: 1px solid #e8b1b1 ;
    border-radius: 3px;
    position: relative;
    top: 14px;
    margin-left: 10px;
    text-align: center;
}
.hot_spot_left ul .recommend_three .time .pot span{
    position: relative;
    top: -15px;
    font-size: 12px;
}

/*热点右边*/
.hot_spot_right{
    width: 281px;
    height: 515px;
    padding-right: 23px;
    float: right;
}
.hot_spot_right_top{
    height: 33px;
    padding-top: 16px;
    line-height: 33px;
    font-size: 14px;
}
.hot_spot_right_top h2{
    font-weight: bold;
    float: left;
}
.hot_spot_right_top .huan{
    float: right;
    width: 90px;
    height: 33px;
    line-height: 33px;
}
.hot_spot_right_top p{
    float: right;
}
.hot_spot_right_top i{
    font-size: 22px;
    color: #989898;
    float: left;
    padding-left: 25px;
}
/*热点下边*/
.hot_spot_right_bottom ul{
    height: 272px;
    width: 281px;
}
.hot_spot_right_bottom ul li{
    height: 34px;
    float: left;
    line-height: 34px;
}
.hot_spot_right_bottom ul li a:hover{
    color: #407dfd;
    text-decoration: underline;
}
.hot_spot_right_bottom li:nth-child(2n+1){
    width: 147px;
}
.hot_spot_right_bottom li:nth-child(2n){
    width: 134px;
}
.hot_spot_right_bottom li:nth-child(1) span{
    color: #e53634;
    font-size: 12px;
    width: 18px;
    height: 14px;
    border: 1px solid #e8b1b1 ;
    border-radius: 3px;
    position: relative;
    top: 8px;
    text-align: center;
    line-height: 14px;
    float: right;
    margin-right: 20px;
}